version: '2'

services:
    # Laravel application
    laravel_php_fpm:
        build: ./docker/Dockerfile.phpfpm
        container_name: laravel-phpfpm
        volumes:
            - ./docker/laravel:/var/www/laravel
        links:
            - "laravel_database"
        ports:
            - "9010:9000"
        depends_on:
            - "laravel_database"
        environment:
            - "DB_PORT=3306"
            - "DB_HOST=laravel_database"

    # Webserver
    nginx:
        build: ./docker/Dockerfile.nginx
        container_name: laravel-nginx
        ports:
            - "82:80"
        links:
            - laravel_php_fpm
        volumes_from:
            - laravel_php_fpm
        volumes:
            - ./docker/logs/nginx/:/var/log/nginx
        restart: always

    # The Database
    laravel_database:
        image: mariadb:10.2
        container_name: laravel-mysql
        volumes:
            - "./docker/db:/docker-entrypoint-initdb.d"
            - "./docker/db/dbdata:/var/lib/mysql"
        environment:
            - "MYSQL_DATABASE=laravel"
            - "MYSQL_USER=laravel"
            - "MYSQL_PASSWORD=secret"
            - "MYSQL_ROOT_PASSWORD=root"
        ports:
            - "33063:3306"
        restart: always
